:root {
  --page-background-color: lightcyan;
  --user-info-color: rgb(170,194,223);
  --step-goal-color: rgb(236, 146, 164);
  --hydration-color: rgb(175, 238, 238);
  --sleep-color: rgb(213, 242, 176);
  --friend-color: rgb(215, 187, 230);
  --section-border-radius: 12px;
}

body, 
html {
  background: var(--page-background-color);
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
  margin: 0;
}

header {
  display: block;
  width: 100vw;
  margin-right: auto;
  margin-left: 35px;
}

.welcome-message {
  font-size: 48px;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px 0;
  border: 0;
  padding: 0;
}

.user-id, 
.user-email, 
.user-address, 
.user-stride-length {
  font-size: 24px;
}

.user-info {
  font-size: 36px;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: var(--section-border-radius);
}

.section-wrapper {
  border: 1pt solid black;
  border-radius: var(--section-border-radius);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 16.5vh;
}

.chart-wrapper {
  border: solid 2pt black;
  width: 25rem;
  margin: .2rem;
  height: 12rem;
  border-radius: var(--section-border-radius);
}

#activities-dashboard-wrapper {
  background-color: var(--step-goal-color);
}

#user-info-wrapper {
  background-color: var(--user-info-color);
  flex-direction: column;
  text-align: center;
}

#hydration-section-wrapper {
  background-color: var(--hydration-color);
}

#sleep-section-wrapper {
  background-color: var(--sleep-color);
}

#user-sleep-day, 
#user-sleep-week, 
#user-sleep-alltime {
  background-color: var(--sleep-color);
  display: flex;
  justify-content: space-evenly;
}

#user-sleep-week {
  width: 16rem;
}

#user-step-goal, 
#average-goal-steps {
  background-color: var(--step-goal-color);
}

#user-hydration-day,
#user-hydration-week {
  background-color: var(--hydration-color);
}

.user-friend {
  background-color: var(--friend-color);
  border: solid 2pt black;
  border-radius: var(--section-border-radius);
  text-align: center;
  width: 8rem;
  line-height: 2.5;
  height: 8rem;
  margin-left: 8px;
}

#friends-section {
  background-color: var(--friend-color);
}

.friends-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.friends-header {
  font-size: 30px;
}

#user-step-goal-chart, 
#user-friends-average-goal-chart {
  display: block;
  margin: auto;
  padding: 0;
}